

h1,
a,
ul,
p{

    font-family: "Montserrat", sans-serif;
    padding: 10px;
   
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #aecdf2;
}
#str{
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    
}
.baz{
    padding-left: 50px;
}

a{
    text-decoration: none;
    color:black
}
ol {
    font-family: "Montserrat", sans-serif;

    padding-left: 100px;
   
}

img{
    padding-left: 50px;
    
}

header h1{
    text-align: center;
    padding: 70px;

}

header a:hover{
    color:#aecdf2;
}





#inf{
    
    display: block;
    padding: 10px;
    margin: 0;
    align-items: left;
}



nav a{
    color: black;
}


a:hover{color:rgb(0, 128, 255)}

.menu{
    width: 100%;
    position:fixed;
    top:0;
    right: 0;
    left: 0;
    padding: 0 3rem;
    background-color: var(--bs-primary-bg-subtle);
    height: 30px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    
}
.menu a{
    margin:  5rem;
    text-decoration: none;
    padding: 0;

    

}

.dropdown{
    position: relative;

    
}

.dropdown ul{
    width: 200px;
    text-align: center;
    position: absolute;
    background-color: var(--bs-primary-bg-subtle);
    padding: 0;
    list-style-type: none;
    box-shadow: 0px 0px 23px 0px rgb(0, 0, 0, 0, 25);
    border-radius: 7px;
    display: none;
}

.dropdown ul li {
    padding: 0.5rem;

}

.dropdown ul li:hover{
    background:var(--bs-primary-bg-subtle);
    border-radius: 7px;
}

.dropdown ul li a{
    width:100%;
    height: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
}


.dropdown a:focus + ul,
.dropdown a:hover + ul 
{
    display: block;

}
.dropdown ul:hover 
{
    display: block;

}
